<nav>
  <div class="site-title">
    <a href="/">
      <h1>Book Directory</h1>
    </a>
  </div>
  <ul>
    <li><a href="/">Books</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/books/create">New Book</a></li>
  </ul>
</nav>